<div class="migiue">
  <div class="gaiyou">
     <div class="gaiyou-title">
      <%= @room.name %>
    </div>
  </div>
  <div class="syuryou">
    <div class="syuryou-botan">
      <%= link_to "チャットを終了する", room_path(@room), data: { turbo_method: :delete } %>
    </div>
  </div>
</div>

<div class="mannaka">
  <%= render partial: 'message', collection: @messages %> 
</div>

<%= form_with model: [@room, @message], html: {class: "migisita"}, local: true do |f|%>
  <div class="toukouran">
    <%= f.text_field :content, class: 'toukou', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'sousin-botan' %>
<% end %>